.App {
    text-align: center;
}

#id {
    color: var(--text-color);
    border: 1.8px solid var(--color2);
    border-radius: 3px;
    min-width: 40vw;
    text-align: center;
    min-height: 5vh;
    margin-top: 20px;
    box-sizing: border-box;
    font-size: larger;
    background-color: var(--color1);
    padding: 20px 20px;
    outline: none;
}

#id::placeholder {
    color: var(--color2);
    opacity: 0.5;
}

#get[ready] {
    color: var(--color1);
    background-color: var(--color2);
}

#get {
    background-color: var(--color3);
    border: none;
    color: var(--color1);
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 15px;
    margin: 20px;
    font-weight: 500;
}

#get:disabled {
    background-color: var(--color1);
    color: var(--background);
}

#name {
    font-size: min(48px, 8.7vw);
    font-weight: 200;
    padding: 30px;
    color: var(--color3);
}

#theme_change {
    background-color: var(--color1);
    border: 1px solid var(--color3);
    color: var(--color3);
    /* padding: 15px 32px; */
    /* font-size: 16px; */
    border-radius: 15px;
    /* margin: 20px; */
    /* font-weight: 500; */
    position: absolute;
    top: 6px;
    right: max(6px,calc(60vw - 600px));
}
