.App {
    text-align: center;
}

#id {
    color: var(--background);
    border: 1.8px solid var(--color2);
    border-radius: 3px;
    min-width: 40vw;
    text-align: center;
    min-height: 5vh;
    margin-top: 20px;
    box-sizing: border-box;
    font-size: larger;
    background-color: var(--color3);
    padding: 20px 20px;
    outline: none;
}

#id::placeholder {
    color: var(--color2);
}

#get {
    background-color: var(--color2);
    border: none;
    color: var(--background);
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 15px;
    margin: 20px;
    font-weight: 500;
}

#get:disabled {
    background-color: var(--color3);
}

#name {
    font-size: xxx-large;
    font-weight: 200;
    padding: 30px;
    color: var(--color3);
}
