.theme-dark {
    --background: #001a23;
    --color1: #001015;
    --color2: #7ace9d;
    --color3: #3e8881;
    --text-color: #bbb5bd;
}

.theme-light {
    --background: #f0f0f0;
    --color1: #d1d1d1;
    --color2: #30a381;
    --color3: #3e8881;
    --text-color: #01180e;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background);
    width: 100%;
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
