#location {
  color: grey;
  font-size: smaller;
}
#course {
  font-size: larger;
  stroke: black;
  -webkit-text-stroke: 0.2px;
}
#staff {
  font-size: small;
  font-weight: 700;
  color: grey;
}

#group {
  font-size: medium;
  margin: 0;
}

.sessioncontainer {
  margin: 1vmin;
}
