#location {
    font-size: smaller;
}
#course {
    font-size: larger;
    -webkit-text-stroke: 0.2px;
}
#staff {
    font-size: small;
    font-weight: 700;
}

#group {
    font-size: medium;
    margin: 0;
}

.sessioncontainer {
    margin: 1vmin;
}

.SessionPopupKey{
  display: inline-block;
  font-style: italic;
  font-size: smaller;
}

.SessionPopupValue{
  display: inline-block;
}

/* 
.Lecture {
  color: #6f5060;
}

.Tutorial {
  color: #a78682;
}

.Practical {
  color: #a09ebb;
} */
