/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 6vmin;
    height: 5vmin;
    left: 2.5vmin;
    top: 2.5vmin;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: var(--color3);
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: var(--color1);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: var(--color2);
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: var(--background);
    /* padding: 2.5em 1.5em 0; */
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
/* .bm-morph-shape {
    fill: #373a47;
  } */

/* Wrapper for item list */
.bm-item-list {
    color: var(--color2);
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;
    text-decoration: none;
    color: var(--color3);
    font-size: x-large;
    padding: 15px 0px 15px 0px;
    width: 100%;
    text-align: center;
    border-top: var(--color1) 2px solid;
}

.bm-item:first-child {
    border-top: none;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

.link-active {
    color: var(--color2);
}

#changeTheme-button {
    margin-top: auto;
    font-size: medium;
}
