.MySchedule {
    text-align: center;
}

#title {
    font-size: min(36px, 6.5vw);
    font-weight: 200;
    padding: 30px;
    color: var(--color3);
}

#noSchedule{
    /* font-size: min(36px, 6.5vw); */
    /* font-weight: 200; */
    /* padding: 30px; */
    font-size: large;
    color: var(--text-color);
}